---
layout: home
title: Home
permalink: /home/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style_home.css">
</head>
<body>
    <nav class="navbar">
        <div href="#" class="logo">Radhika Ruia</div>
        <ul class="nav-links">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Delphi</a></li>
            <li><a href="{{ site.baseurl }}/poems/">Reckon[ED]</a></li>
            <li><a href="{{ site.baseurl }}/contemplatio/">Dear Wallet</a></li>
        </ul>
        <div class="search-container">
            <input type="checkbox" class="checkbox" id="checkbox">
             <label for="checkbox" class="checkbox-label">
            <i class="fas fa-moon">🌙</i>
            <i class="fas fa-sun">☀️</i>
            <span class="ball"></span>
            </label>
        </div>
    </nav>

    <div class="center-box">
    <div class="image-container">
        <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Image">
    </div>
    <div class="text-container">
        <div class="profile_img">
        <img src="{{ site.baseurl }}/assets/images/profile_img.jpg" alt="Profile Picture">
    </div>
    <div class="text-container">
        <h1>Hi! I’m <span class="highlight"> Radhika</span> 👋</h1>

        <p>
            I would like to open my arms and welcome you to that corner of the internet where verses turn into voyages. I have built this blog(like literally coded it) not as a blog but as a place where my poems could bloom and breathe alongside the wild little projects i chase when inspiration(or insomnia) hits. Here, silence means more than noise. 
        </p>
        <p>
            The rhythm of my heartbeat inspires me to write soulful poems. I hope you like them.
        </p>
        <p>
            Please remember that I too am learning on the way and I beleive I can do a service to society by sharing my thoughts. Come join me! 
        </p>
        <a href="#" class="button">Let’s Connect!</a>
    </div>
    </div>
    </div>
    <script>
        const checkbox = document.getElementById("checkbox")
        checkbox.addEventListener("change", () => {
        document.body.classList.toggle("dark")
        })

    </script>
</body>
</html>
